<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"> </script>
    </head>

<body>
	
<div style="width:100%;margin:0px auto;">
    {% for party in object_list %}
    <img src="/static/{{party.id}}.png" id="{{party.id}}" style="display:none;width:30%;height:30%;">
    {% endfor %}



    <div id="canvas_container" style="float:left;margin-left:5%;text-align:left;">
        <canvas id="canvas" style="float:left; width:100%"></canvas>
    </div>
</div>
<script>
setTimeout(function() {
      window.location.reload(true); 
    }, 200000);
window.onload = function() {

    var context = document.getElementById("canvas").getContext("2d");
    
    context.canvas.width  = window.innerWidth;
	context.canvas.height = window.innerHeight;

	var step = (context.canvas.height-180)/{{maxscore}};
	
    {% for party in object_list %}
        context.drawImage(document.getElementById("{{party.id}}"), {{forloop.counter0}}*((context.canvas.width-(context.canvas.width/10))/7), context.canvas.height-170-{{party.totalscore}}*step, context.canvas.width/10, (context.canvas.width/10)*1.16);
    {% endfor %}
}
</script>
</body>
