	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"> </script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	<script>
		setTimeout(function() {
			window.location.reload(true);  //true from server, false from cache
		}, 200000);
	/*$(function() {
		$( ".interact" ).click(function(e) {
           var modal = $(this).parents(".tweets").children(".modal");
           modal.attr("src", $(this).attr("href"));
           modal.show();
           e.preventDefault();
		});
	});
	*/
	</script>
	<style>
	a:link {text-decoration:none;color:#000000;}
	a:visited {text-decoration:none;color:#000000}
	a:hover {text-decoration:underline;color:#000000}
	a:active {text-decoration:underline;color:#000000}
	.tweets {
		display: inline-block;
		padding: 16px;
		margin: 10px 0;
		max-width: 468px;
		border: #ddd 1px solid;
		border-top-color: #eee;
		border-bottom-color: #bbb;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.15);
		font: bold 14px/18px Helvetica, Arial, sans-serif;
		color: #000;
	}
	#tweets {
		display: inline-block;
		padding: 16px;
		margin: 10px 0;
		max-width: 468px;
		border: #ddd 1px solid;
		border-top-color: #eee;
		border-bottom-color: #bbb;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.15);
		font: bold 14px/18px Helvetica, Arial, sans-serif;
		color: #000;
	}
	#content {
		display: inline-block;
		padding: 16px;
		margin: 10px 0;
		border: #ddd 1px solid;
		border-top-color: #eee;
		border-bottom-color: #bbb;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.15);
		background-color:#EEEEEE;
		font: bold 14px/18px Helvetica, Arial, sans-serif;
		color: #000;
	}
	interactive {

	}
	</style>
    {% for tweet in object_list %}
        {% if tweet.relevant %}
        	<div class="tweets" style="width:430px">

				<div id="header" style="width:382px;height:7%;float:right;">
					<div id="tweet-user" style="height:100%;width:230px;margin-left:20px;float:left;font: bold 18px/22px Helvetica, Arial, sans-serif;">
						{{ tweet.user.name}} <a href="https://twitter.com/{{tweet.user.screenname}}" target="new">@{{tweet.user.screenname}}</a></div>
					<div id="created-at" style="height:100%;width:132px;text-align:center;float:left;">
						{{ tweet.createdat}}</div>		
				</div>

				<div id="profile" style="background-color:#FFFFFF;width:48px;float:left;">
					<b><img src="{{tweet.user.profileimageurl }}"></b><br></div>

					<div id="content" style="width:382px;float:left;">
						<div id="tweet-text" style="margin-top:15px;">
					 	{{tweet.text}}</div>
					 	<br> 

						<div id="footer" style="clear:both;height:30px;text-align:center;">
							<div id="reply" style="height:100%;width:25%;text-align:center;float:left;">
								<img src="https://si0.twimg.com/images/dev/cms/intents/icons/reply_hover.png">
								<a href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id}}" target="new">Reply</a></div>
							<div id="retweet" style="height:100%;width:25%;text-align:center;float:left;">
								<img src="https://si0.twimg.com/images/dev/cms/intents/icons/retweet_hover.png">
								<a href="https://twitter.com/intent/retweet?tweet_id={{tweet.id}}" target="new">Retweet</a></div>
							<div id="favorite" style="height:100%;width:25%;text-align:center;float:left;">
								<img src="https://si0.twimg.com/images/dev/cms/intents/icons/favorite_hover.png">
								<a href="https://twitter.com/intent/favorite?tweet_id={{tweet.id}}"class="interact">Favorite</a></div>
								<!--<a href="https://twitter.com/intent/favorite?tweet_id={{tweet.id}} target="new"">Favorite</a></div> -->
						</div>			
					</div>
					<iframe class="modal" title="Basic modal dialog" style="display:none;">
					<p>Adding the modal overlay screen makes the dialog look more prominent because it dims out the page content.</p>
					</iframe>
			</div>
			<div id"boarder" style="clear:both;height:5px;"></div>
        {% endif %}
    {% endfor %}


